.background {
  animation: fadeIn 3s forwards;
  -webkit-animation: fadeIn 3s forwards;
}

.hallway {
  left: -4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: zoom 14s forwards linear;
  -webkit-animation: zoom 14s forwards linear;
}

@keyframes zoom {
  100% {
    height: 130%;
    width: 130%;
    top: -10%;
  }
}