#player-container {
  position: absolute;
  pointer-events: none;
  top: 400px;
  left: 20%;
  width: 14.5rem;
  height: 26.5rem;
  overflow: hidden;
  filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
  -webkit-filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
  z-index: 3;
}

#player-sprite {
  position: relative;
  top: -1px;
  left: -2px;
  width: 2990px;
  height: 2717px;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
  background-repeat: no-repeat;

  &.right {
    top: -910px;
  }

  &.up {
    top: -455px;
  }

  &.left {
    top: -1365px;
  }

  // &.standing {

  // }
  &.pickup-right {
    top: -1820px;
    animation: animate 1000ms steps(12);
  }

  &.pickup-left {
    top: -2275px;
    animation: animate 1000ms steps(12);
  }

  &.walk {
    animation: animate 1000ms steps(12) infinite;
  }

  @keyframes animate {
    100% {
      transform: translateX(-2990px);
    }
  }
}