.walk-area {
  &.test-area {
    position: absolute;
    bottom: 0;
    left: 0rem;
    width: 100%;
    height: 35%;
    -webkit-clip-path: polygon(29% 0%, 70% 0, 140% 123%, -26% 100%);
    clip-path: polygon(29% 0%, 70% 0, 140% 123%, -26% 100%);
    z-index: 1;
  }

  &.great-portland-street {
    position: absolute;
    bottom: .5rem;
    left: 0rem;
    width: 100%;
    height: 28%;
    clip-path: polygon(0% 0%, 14% 0%, 14% 10%, 100% 10%, 100% 70%, 0 70%);
    z-index: 1;
  }
}